* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Klee one', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

:root {
    /*colour palette*/
    --base-color: #e1edd1;
    --body-color: #aab69b;
    --text-color: #9e906e;
    --title-color: #b47941;
    --buttom-color: #cf391d;
}

body {
    background-color: var(--base-color);
    color: var(--text-color);
}

body h1 {
    font: 400 1.875rem 'Lobster', sans-serif;
    color: var(--title-color);
}

label {
    display: block;
}

input {
    border-style: inset;
    border-radius: 0.5rem;
}

input[type='submit'],
label {
    margin-top: 1rem;
    font: 400 1rem 'Poppins', sans-serif;
}

#sign_in_buttom {
    width: 19rem;
    height: 2rem;
    background-color: var(--buttom-color);
    color: var(--base-color);
}
